#!groovy

import jenkins.model.*
import hudson.security.*
import jenkins.security.s2m.AdminWhitelistRule
import javaposse.jobdsl.plugin.*
import com.cloudbees.jenkins.plugins.sshcredentials.impl.*
import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.common.*
import com.cloudbees.plugins.credentials.domains.*
import hudson.model.*
import hudson.plugins.git.*
import hudson.plugins.sshslaves.*
import hudson.security.ACL
import hudson.slaves.*
import hudson.triggers.TimerTrigger
import java.util.Collections
import java.util.List
import javaposse.jobdsl.plugin.*
import hudson.model.*

// Set the new admin username and password
String newAdminUsername = "{{ admin_username }}"
String newAdminPassword = "{{ admin_password }}"


println '********************************************** Creating initial user! ***********************************************'

def instance = Jenkins.getInstance()
def hudsonRealm = new HudsonPrivateSecurityRealm(false)
def strategy = new FullControlOnceLoggedInAuthorizationStrategy()

hudsonRealm.createAccount(newAdminUsername, newAdminPassword)
instance.setSecurityRealm(hudsonRealm)
instance.setAuthorizationStrategy(strategy)
instance.save()
Jenkins.instance.getInjector().getInstance(AdminWhitelistRule.class).setMasterKillSwitch(false)